.GameBoard {
    position: relative;
    margin: 1rem 1rem;
    background-color: rgba(176, 170, 192, 0.2);
    background-image: linear-gradient(#9fafb2b6 1px, transparent 1px), 
                        linear-gradient(90deg, #9fafb2b6 1px, transparent 1px);                    
}