.SliderWrapper  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 360px;
    padding: 9px;
}

.SliderWrapper label {
    text-transform: uppercase;
    letter-spacing: +0.05rem;
    font-size: 0.95rem;
}